@import "./base/_base.scss";
@import "./variables/_variables";
@import "./layout/_learninghub.scss";
@import "./layout/_meeting_place.scss";
@import "./layout/_template.scss";
@import "./layout/_chapter.scss";
@import "./layout/_login.scss";
@import "./layout/_chapterquiz.scss";
@import "./layout/_modal.scss";
@import "./layout/_profile.scss";
@import "./layout/_forum.scss";
@import "./layout/_create_module.scss";
@import "./layout/_quiz.scss";
@import "./layout/_dashboard.scss";
@import "./layout/_partnermainscreen.scss";

/*

To sass watch ->  sass --watch sass/app.scss:public/assets/css/app.css
 */