* {
  padding: 0;
  margin: 0;
}

.chevron_front {
  color: #f7f6f6;
  font-weight: bold;
}

.button_1 {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  border: 3pt solid #8b54a0;
  border-radius: 40px;
  -webkit-box-shadow: 12px 12px 19px -17px;
  -moz-box-shadow: 12px 12px 19px -17px;
  box-shadow: 12px 12px 19px -17px;
  background-color: #f7f6f6;
  color: #8b54a0;
  width: 270px;
}

.button_1:hover {
  color: #f7f6f6;
  background: #8b54a0;
  box-shadow: 12px 12px 19px -17px black;
}

.button_2 {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 40px;
  border: 3pt solid #460e56;
  -webkit-box-shadow: 12px 12px 19px -17px black;
  -moz-box-shadow: 12px 12px 19px -17px black;
  box-shadow: 12px 12px 19px -17px black;
  background-color: #460e56;
  color: #f7f6f6;
  width: 270px;
}

.button_2:hover {
  color: #460e56;
  background: #f7f6f6;
  box-shadow: 12px 12px 19px -17px black;
}

.button_3 {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 40px;
  border: 3pt solid #8b54a0;
  background-color: #8b54a0;
  color: #f7f6f6;
  width: 270px;
}

.button_3:hover {
  color: #8b54a0;
  background: #f7f6f6;
  border: 3pt solid #f7f6f6;
}

.button_4 {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  border: 1pt solid #b3b3b3;
  border-radius: 40px;
  -webkit-box-shadow: 12px 12px 19px -17px;
  -moz-box-shadow: 12px 12px 19px -17px;
  box-shadow: 12px 12px 19px -17px;
  background-color: #f7f6f6;
  color: #7a7a7a;
  width: 270px;
}

.button_4:hover {
  color: #606060;
  background: #f7f6f6;
}

.button_5 {
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 40px;
  border: 3pt solid #33003d;
  -webkit-box-shadow: 12px 12px 19px -17px black;
  -moz-box-shadow: 12px 12px 19px -17px black;
  box-shadow: 12px 12px 19px -17px black;
  background-color: #33003d;
  color: #f7f6f6;
  width: 270px;
}

.button_5:hover {
  color: #33003d;
  background: #f7f6f6;
  box-shadow: 12px 12px 19px -17px black;
}

.button_6 {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 40px;
  border: 3pt solid #8b54a0;
  background-color: #8b54a0;
  color: #f7f6f6;
  transition: 0.3s;
}

.button_6:hover {
  color: #8b54a0;
  background: #f7f6f6;
  border: 3pt solid #f7f6f6;
}

.button_7 {
  background: #460e56;
  letter-spacing: 1px;
  padding: 10px 30px;
  border-radius: 40px;
  border: none;
  color: #f7f6f6;
  transition: 0.3s;
}

.button_7:hover {
  color: #8b54a0;
  background: #f7f6f6;
  text-decoration: none;
}

.round_button {
  width: 30px;
  height: 30px;
  border: 1pt solid #8b54a0;
  border-radius: 15px;
  background-color: #8b54a0;
}

.round_button:hover {
  width: 30px;
  height: 30px;
  border: 1pt solid #8b54a0;
  border-radius: 15px;
  background-color: #8b54a0;
}

.progress_1 {
  height: 28px;
  border: 1pt solid #460e56;
  border-radius: 5px;
}

.progress_1_bar {
  background-color: #8b54a0;
}

.progress_2 {
  width: 200px;
  height: 12px;
  border: 1pt solid #460e56;
  border-radius: 40px;
}

.progress_2_bar {
  background-color: #8b54a0;
}

.navwrap {
  background: #8b54a0;
}

.nav-bar-color {
  background-color: #8b54a0;
}

.navbar,
.example-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.navbar {
  padding: 10px 0;
}

#language_switcher_language {
  background: #8b54a0;
  border: 1px solid #f7f6f6;
  color: #f7f6f6;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.card {
  -webkit-box-shadow: 0 6px 12px 3px rgba(139, 84, 160, 0.37);
  box-shadow: 0 6px 12px 3px rgba(139, 84, 160, 0.37);
  border: none;
  border-radius: 20px;
}

.nav-bar-color {
  background-color: #8b54a0;
}

h1 {
  font-family: "Chivo", sans-serif;
  font-weight: 400;
}

.intro-lh {
  font-family: "Chivo", sans-serif;
  font-weight: 400;
}

.card {
  -webkit-box-shadow: 0 6px 12px 3px rgba(139, 84, 160, 0.37);
  box-shadow: 0 6px 12px 3px rgba(139, 84, 160, 0.37);
  border: none;
  border-radius: 20px;
}

.button_3 {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 40px;
  border: 3pt solid #8b54a0;
  background-color: #8b54a0;
  color: #f7f6f6;
}

.button_3:hover {
  color: #8b54a0;
  background: #f7f6f6;
  border: 3pt solid #f7f6f6;
}

.cards-container {
  width: 100%;
  max-width: 1280px;
  background-color: pink;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.cards-container .card-wrapper {
  max-width: 415px;
  height: 100px;
  border-radius: 50%;
  background-color: pink;
  -webkit-box-shadow: -1px -1px 22px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 22px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -1px -1px 22px -6px rgba(0, 0, 0, 0.75);
}

.button_1 {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  border: 3pt solid #8b54a0;
  border-radius: 40px;
  -webkit-box-shadow: 12px 12px 19px -17px;
  -moz-box-shadow: 12px 12px 19px -17px;
  box-shadow: 12px 12px 19px -17px;
  background-color: #f7f6f6;
  color: #8b54a0;
}

.button_1:hover {
  color: #f7f6f6;
  background: #8b54a0;
  box-shadow: 12px 12px 19px -17px black;
}

.button_2 {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 40px;
  border: 3pt solid #460e56;
  -webkit-box-shadow: 12px 12px 19px -17px black;
  -moz-box-shadow: 12px 12px 19px -17px black;
  box-shadow: 12px 12px 19px -17px black;
  background-color: #460e56;
  color: #f7f6f6;
  width: 270px;
}

.button_2:hover {
  color: #460e56;
  background: #f7f6f6;
  box-shadow: 12px 12px 19px -17px black;
}

.button_3 {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 40px;
  border: 3pt solid #8b54a0;
  background-color: #8b54a0;
  color: #f7f6f6;
  width: 270px;
}

.button_3:hover {
  color: #8b54a0;
  background: #f7f6f6;
  border: 3pt solid #f7f6f6;
}

.button_4 {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  border: 1pt solid #b3b3b3;
  border-radius: 40px;
  -webkit-box-shadow: 12px 12px 19px -17px;
  -moz-box-shadow: 12px 12px 19px -17px;
  box-shadow: 12px 12px 19px -17px;
  background-color: #f7f6f6;
  color: #7a7a7a;
  width: 270px;
}

.button_4:hover {
  color: #606060;
  background: #f7f6f6;
}

.progress_1 {
  height: 28px;
  border: 1pt solid #460e56;
  border-radius: 5px;
}

.progress_1_bar {
  background-color: #8b54a0;
}

/*.progressbar_2 {
  display: inline-block;
}*/
.chevron_front {
  color: #f7f6f6;
  font-weight: bold;
}

.round_back {
  width: 30px;
  height: 30px;
  border: 1pt solid #8b54a0;
  border-radius: 15px;
  background-color: #8b54a0;
}

.round_back:hover {
  width: 30px;
  height: 30px;
  border: 1pt solid #8b54a0;
  border-radius: 15px;
  background-color: #8b54a0;
}

.progress_2 {
  width: 200px;
  height: 12px;
  border: 1pt solid #460e56;
  border-radius: 40px;
}

.progress_2_bar {
  background-color: #8b54a0;
}

.button_4chap {
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  border: 1pt solid #b3b3b3;
  border-radius: 40px;
  -webkit-box-shadow: 12px 12px 19px -17px;
  -moz-box-shadow: 12px 12px 19px -17px;
  box-shadow: 12px 12px 19px -17px;
  background-color: #f7f6f6;
  color: #7a7a7a;
  width: 270px;
}

.button_4chap:hover {
  color: #606060;
  background: #f7f6f6;
}

.btnchap {
  width: 200px;
  float: right;
  margin-right: -50px;
  margin-top: -50px;
}

.center {
  text-align: center;
}

.chapcard {
  padding: 20px 10px 20px 5px;
  border-radius: 20px;
  background-color: #8b54a0;
  color: #f7f6f6;
}

.chapcontainer {
  margin-top: 50px;
}

.chapbutton_2 {
  float: right;
  margin-right: -50px;
  margin-top: -30px;
}

@media only screen and (max-width: 770px) {
  .wrapper {
    width: 100%;
  }

  .btnchap {
    float: none;
    margin: 0 auto;
    display: block;
  }

  .chapcard {
    padding: 20px 20px 50px 20px;
  }

  .chapimg {
    text-align: center;
    margin-bottom: 15px;
  }

  .chapinfo {
    text-align: center;
  }

  h5 {
    margin: 0 auto;
  }

  .chapbutton_2 {
    float: none;
    justify-content: center;
  }
}

.loginbody {
  background: #8b54a0;
  color: #f7f6f6;
}

.sidebar {
  height: 100vh;
  top: 0;
  width: 300px;
  position: absolute;
  right: 0;
  background: #f7f6f6;
}

.logo {
  width: 100%;
}

.titlewrap {
  padding-left: 100px;
  margin-top: 50px;
}

.loginwrap {
  text-align: center;
  position: absolute;
  bottom: 100px;
  left: 50px;
  width: 200px;
}

.loginwrap button {
  width: 200px;
}

footer {
  position: absolute;
  bottom: 0;
  background: #460e56;
  width: 100%;
  z-index: -5;
  padding-left: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.learnmore {
  position: absolute;
  right: 350px;
  bottom: 100px;
}

.forgot {
  position: absolute;
  bottom: 50px;
  right: 30px;
}

.uploader {
  width: 70%;
  margin-left: 15%;
  height: 200px;
  background: red;
  margin-top: 50px;
}

.checkbox {
  color: black;
  text-align: left;
}

.checkbox label:hover {
  cursor: pointer;
}

.checkbox label input:hover {
  cursor: pointer;
}

.uploader:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}

/*
To sass watch ->  sass --watch sass/app.scss:public/assets/css/app.css
 */

/*# sourceMappingURL=app.css.map */
.ck-editor__editable_inline {
  min-height: 400px !important;
}
