@import './variables/_variables';

@mixin box-shadow {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

body {
  color: $offblack;
}

@import './base/_base.scss';
@import './layout/_learninghub.scss';
@import './layout/_meeting_place.scss';
@import './layout/_template.scss';
@import './layout/_chapter.scss';
@import './layout/_login.scss';
@import './layout/_chapterquiz.scss';
@import './layout/_modal.scss';
@import './layout/_profile.scss';
@import './layout/_forum.scss';
@import './layout/_partnermainscreen.scss';
@import './layout/_create_module.scss';
@import './layout/_quiz.scss';
@import './layout/_category.scss';
@import './layout/_topic.scss';
@import './layout/_question.scss';

.custom-file-input {
  opacity: 1;
}
/*

To sass watch ->  sass --watch sass/app.scss:public/assets/css/app.css
 */

/* Draggable interface */

.sortable {
  li {
    transition: all 0.5s;
    cursor: move;
  }
  .ghost {
    opacity: 0.5;
    background: #c8ebfb;
    border-color: #c8ebfb;
  }
  .chosen {
    background-color: #ffff99;
  }
}
.ui-meta-label {
  text-transform: uppercase;
  font-size: 12px;
  color: #444;
  font-weight: 300;
}
