@import "./../variables/variables";

.next {
  right: 0;
}

.prev {
  left: 0;
}

.button_4chap {
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;

  border: 1pt solid $offwhite;
  border-radius: 40px;
  -webkit-box-shadow: 12px 12px 19px -17px;
  -moz-box-shadow: 12px 12px 19px -17px;
  box-shadow: 12px 12px 19px -17px;

  background-color: $offwhite;
  color: $darkgrey;
  width: 270px;
}

.button_4chap:hover {
  color: #606060;
  background: $offwhite;
}

.btnchap {
  width: 200px;
  float: right;
  margin-right: -50px;
  margin-top: -50px;
}

.center {
  text-align: center;
}

.chapcard {
  padding: 20px 10px 20px 20px;
  border-radius: 20px;
  background-color: $purple;
  color: $offwhite;
}

.chapcard-locked {
  padding: 20px 10px 20px 20px;
  border-radius: 20px;
  background: rgb(140, 140, 140);
  color: $offwhite;
}

.chapcontainer {
  margin-top: 50px;
}

.chapbutton_2 {
  float: right;
  margin-right: -50px;
  margin-top: -30px;
}

#chapter-overview {
  position: relative;

  .vertical-line {
    position: absolute;
    left: 50%;
    width: 4px;
    height: -webkit-calc(100% - 80px);
    height: -moz-calc(100% - 80px);
    height: calc(100% - 80px);
    background-color: $purple;
    top: 80px;
    z-index: -10;
  }

}

@media only screen and (max-width: 770px) {
  .example-wrapper {
    width: 100%;
  }

  .btnchap {
    float: none;
    margin: 0 auto;
    display: block;
  }

  .chapcard {
    padding: 20px 20px 50px 20px;
  }

  .chapimg {
    text-align: center;
    margin-bottom: 15px;
  }

  .chapinfo {
    text-align: center;
  }

  h5 {
    margin: 0 auto;
  }

  .chapbutton_2 {
    float: none;
    justify-content: center;
  }
}
