@import "./../variables/variables";


.module-cube {
  border: 8px lightgrey solid;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mod-title {
  margin: auto;
  margin-bottom: 30px;
}

.mod-step {
  color: lightgrey;
  font-family: $chivofamily;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.mod-step-partial {
  color: black;
  font-family: $chivofamily;
  font-weight: 400;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
}

.buttonNavBox {
  width: 150px;
}

