@import "./../variables/variables";

// forum OVERVIEW-CARDS

.forum-cat-title {
  font-size: 23px;
  font-family: $chivofamily;
  font-weight: 400;
  color: black;
  letter-spacing: 1px;
}

.forum-cat-row {
  margin-bottom: 35px;
}

.forum-upvote-count{
  margin-top: 9px!important;
}

a {
  color: $purple;
}

a:hover{
  color: $darkpurple;
}
