@import "./../variables/variables";

.loginbody{
  background: $purple;
  color: $offwhite;
}

.sidebar{
  color: $black;
  height: 100vh;
  top: 0;
  width: 300px;
  position: absolute;
  right: 0;
  background: $offwhite;
}

.form-group {
  text-align: center;
}

.logo{
  width: 100%;
}

.titlewrap{
  padding-left: 100px;
  margin-top: 50px;
}

.loginwrap{
  text-align: center;
  position: absolute;
  bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.loginwrap button{
  width: 200px;
}

footer{
  position: absolute;
  bottom: 0;
  background: $darkpurple;
  width: 100%;
  z-index: -5;
  padding-left: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.learnmore{
  position: absolute;
  right: 350px;
  bottom: 100px;
}

.forgot, .accountgot{
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: $black;
  text-align: right;
}

.custom-file {
  .form-group:first-child & {
    height: 100px;
    width: 100px;
    margin-top: 50px;
  }
}

.profilePic{
  height: 100px;
  width: 100px;
  top: 50px;
  position: absolute;
  right: 100px;
  border: 5px solid $purple;
}

.custom-file label{
  opacity: 0;
}

.uploader{
  height: 100%;
}

.checkbox{
  color: black;
  text-align: left;
}

.checkbox label:hover{
  cursor: pointer;
}

.checkbox label input:hover{
  cursor: pointer;
}

.uploader:hover{
  cursor: pointer;
}

footer a{
  color: $purple;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    padding: 20px;
    height: auto;
    min-height: 100vh;
  }

  .logo{
    width: 70%;
    margin-left: 15%;
  }

  .custom-file {
    .form-group:first-child & {
      height: 100px;
      width: 100px;
      margin: 50px 0 20px;
    }
  }

  .profilePic{
    left: calc(50% - 50px);
    top: 70px;
  }

  .loginwrap{
    position: relative;
    margin-top: 100px;
  }

}

@media only screen and (max-width: 810px) {
  .titlewrap {
    padding-left: 50px;
  }
  .titlewrap h1 {
    font-size: 24px;
  }
  .titlewrap h2 {
    font-size: 18px;
  }
  .titlewrap p{
    font-size: 14px;
  }
  footer a{
    margin-left: -50px;
  }
}