@import "./../variables/variables";

.modalbutton {
  background-color: $purple;
  border-color: $purple;
  margin-bottom: 20px;
}

.modalbutton:hover {
  background-color: $darkpurple;
  border-color: $darkpurple;
}

.modal-message {

  p {
    font-family: $chivofamily;
    font-weight: 500;
    font-size: 18px;
  }

}

.message-one {
  margin-top: 10px;
  margin-bottom: 5px;

}


.imgmodal {
  margin-top: 20px;
}
