@import "./../variables/variables";

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  //padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 0 0;
  border-radius: 15px;
  border-color: $purple;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.addicon {
  width: 70px;
  fill: white;
}

.addiconflag {
  width: 50px;
  fill: white;
}

.main-page-button{
  margin: 0 auto 30px;
  width: 320px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#overlay{
  width: 100%;
  height: 100vh;
  background-color: grey;
  opacity: 50%;
  position: absolute;
  display: none;

}

.module-row{
  display: flex;
  justify-content: center;
  align-items: center;
  color: $darkgrey;

  .module-alert{
    position: absolute;
    left: 50px;
    border-radius:20px;
    box-shadow: $cardshadow;
    background-color: #fff;
    z-index: 10;
    background: $purple;
    color: $offwhite;
    margin-top: -30px;

    ul{
      display: flex;
      text-align: center;
      align-items:center;
      list-style: none;

    }
  }
}

.active-mode{
  background-color: #ffffff;
  border: 1px solid $purple;
  color: $darkgrey;
}