@import "./../variables/variables";

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  //padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
  background-color: $purplecolor;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 0 0;
  border-radius: 15px;
  border-color: $purplecolor;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.addicon {
  width: 70px;
  fill: white;
}

.addiconflag {
  width: 50px;
  fill: white;
}

.rowaddbutton {
  margin-bottom: 30px;
}

.modules-container{
  display: flex;
  width: 320px;
  margin: 0 auto;
  justify-content: space-between;
}
.call-to-action{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $purplecolor;
  p{
    margin-top: 15px;
  }
}

.dash-lines{
  padding: 10px;
  height: 100px;



}
.header-dash{
  color: $darkgreycolor
}


.module-rows{
  display: flex;
  justify-content: center;
  align-items: center;
}

.module-alert{

  width: 320px;
  height: 200px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color:#FFF;
  ul{
    list-style: none;
    li{
      list-style: none;

    }
  }
}