@import "../variables/_variables";



.profileimgwrap{
  width: $imgWidth;
  height: $imgWidth;
  display: inline-block;
}

.profileimgwrap img{
  width: 100%;
}

.profileimgwrap form{
  height: $imgWidth;
}

.profileimgwrap form .form-group label{
  color: $white;
}

.profileimg{
  height: 300px;
  overflow: hidden;
}


#imagebutton{
  font-size: 12px;
  text-align: center;
  float: left;
}

#imagebutton:hover{
  cursor: pointer;
}

.gone{
  display: none;
}

#show{
  background: $offwhite;
  position: absolute;
  padding: 20px;
  top: 0px;
  margin: 0 auto;
  width: $imgWidth;
}

#moduleprogress{
  width: 25%;
}

.completebutton{
  width: 20%;
  float: right;
  height: 40px;
}

.badges{
  padding: 0;
  padding-left: 20px;
}

.profilechange form .form-group .custom-file .custom-file-input{
  opacity: 1;
  width: auto;
}

.profilechange form .form-group .custom-file{
  width: auto;
}

.badgeimage{
  width: 70%;
  height: auto;
}

.profiletext{
  display: inline-block;
  position: absolute;
}

.profiletext p{
  height: 20px;
}

#show .form-group input{
  line-height: 15px;
}

.testborder{
  border: 1px solid black;
}


@media only screen and (max-width: 600px) {
  .profiletext{
    position: relative;
  }

  .progression{
    margin-top: 80px;
  }

  .auto{
    margin-left: calc(50% - 150px);
  }

  .absCenter{
    left: calc(50% - 150px);
  }
}