@import "../variables/_variables";



.profileimgwrap{
  width: $imgWidth;
  height: $imgWidth;
  display: inline-block;
}

.profileimgwrap img{
  width: 100%;
}

.profileimgwrap form{
  height: $imgWidth;
}

.profileimgwrap form .form-group label{
  color: $white;
}

.profileimg{
  height: 300px;
  overflow: hidden;
  padding: 20px;
}

.bottom{
  margin-bottom: 20px;
}

#imagebutton{
  font-size: 12px;
  text-align: center;
  float: left;
}

#imagebutton:hover{
  cursor: pointer;
}

.gone{
  display: none;
}

#show{
  background: $offwhite;
  position: absolute;
  padding: 20px;
  top: 0px;
  margin: 0 auto;
  width: $imgWidth;
}

#moduleprogress{
  width: 25%;
}

.completebutton{
  width: 20%;
  float: right;
  height: 40px;
  line-height: 20px;
}

.progresstitle{
  font-size: 1.5em;
  text-align: left;
  margin-top: 50px;
}

.coursetitle{
  font-size: 1.2em;
  margin-top: 20px;
}

.badges{
  padding: 0;
  padding-left: 20px;
}

.profilechange form .form-group .custom-file .custom-file-input{
  opacity: 1;
  width: auto;
}

.profilechange form .form-group .custom-file{
  width: auto;
}

.badgeimage{
  width: 70%;
  height: auto;
}

.profiletext{
  display: inline-block;
  position: absolute;
}

.profiletext p{
  height: 20px;
}

#show .form-group input{
  line-height: 15px;
}

.testborder{
  border: 1px solid black;
}

.badges h5{
  width: 100%;
  font-size: 1.5em;
}

.profiletext p:first-child{
  font-size: 1.5em;
  margin-bottom: 40px;
  font-family: $chivofamily;
}

.profiletext{
  padding-left: 50px;
  width: 300px;
}

.badge{
  font-weight: normal;
  line-height: normal;
}

.badgename{
  font-family: $chivofamily;
  font-size: 1.2em;
}
.badgedescription{
  text-align: left;
  font-style: italic;
}

.badgecriteria{
  font-weight: bold;
  text-align: left;
}

.badges{
  font-size: 1.2em;
}

@media only screen and (max-width: 767px) {
  .badges{
    margin-top: 80px;
  }
}

@media only screen and (max-width: 567px) {
  .badge p{
    text-align: center;
  }
}


@media only screen and (max-width: 600px) {
  .profiletext{
    position: relative;
    padding-left: 0;
  }

  .progression{
    margin-top: 80px;
  }

  .auto{
    margin-left: calc(50% - 150px);
  }

  .absCenter{
    left: calc(50% - 150px);
  }

}