@import "./../variables/variables";

.topic-questions {
  background-color: $purple;
  font-family: $chivofamily;
  padding: 20px 20px 20px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.question-row {
  padding-bottom: 10px;
}

.postbutton form .form-group button{
  background: red;
}

#question_questionDescription {
  height: 120px;
}
