{% extends 'base.html.twig' %}

{% block title %}Edit QuizAnswer{% endblock %}

{% block body %}
    <h1>Edit QuizAnswer to:</h1>
    <h4>{{ quiz_answer_trans.quizAnswer.quizQuestion.title(user.language) }}</h4>

    {{ include('quiz_answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quiz_show', {'id': quiz_answer_trans.quizAnswer.quizQuestion.quiz.id}) }}">back to list</a>

    {{ include('quiz_answer/_delete_form.html.twig') }}
{% endblock %}
