{% extends 'base.html.twig' %}

{% block title %}New QuizAnswer{% endblock %}

{% block body %}
    <h1>Create new QuizAnswer</h1>

    {{ include('quiz_answer/_form.html.twig') }}

    <a href="{{ path('quiz_answer_index') }}">back to list</a>
{% endblock %}
