<form method="post" action="{{ path('question_delete', {'id': question.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">

    <div class="row">
        <div class="col">
            <button class="btn-deletequestion button_2 deleteHover float-right">{{ 'Delete Question' | trans }}</button>
        </div>
    </div>

</form>
