{# Requires crumb to be defined in the template that includes this,
example: {% for crumb in quiz.breadcrumbs(app.user.language) %}
Don't forget to also close the for loop ;)
#}
    {% if crumb.routeName is defined and crumb.routeName is not empty and not loop.last %}
        <li class="breadcrumb-item"><a class="crumb crumb-link" href="{{ path(crumb.routeName, crumb.routeOptions) }}">{{ crumb.name }}</a></li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">{{ crumb.name }}</li>
    {% endif %}
