{% extends 'base.html.twig' %}


{% block body %}

    <div class="example-wrapper">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fail-pop">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="fail-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content container center modalcontainer">

                    <div class="text-center imgmodal">
                        <img src="https://via.placeholder.com/150" alt="">
                    </div>

                    <div class="text-center modal-message">
                        <p class="message-one">{{ 'You are almost there'|trans }}.</p>
                        <p class="message-two">{{ 'Give it another shot'|trans }}!</p>
                    </div>

                    <div class="row ">
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary button modalbutton" data-dismiss="modal">{{ 'Try again'|trans }}</button>
                        </div>

                        <div class="col-6">
                            <button type="button" class="btn btn-primary button modalbutton modal-btn">{{ 'Chapter info'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



{% endblock %}
