
//COLORS

$purplecolor: #8b54a0;
$darkpurplecolor: #460e56;
$darkgreycolor: #7a7a7a;
$whitecolor: #f7f6f6;
$darkestpurple: rgb(51,0,61);
$offwhite: #b3b3b3;
$black: black;

//SHADOWS

$cardshadow: rgba(139, 84, 160, 0.37);

//FONT
$chivofamily: 'Chivo', sans-serif;
$buttonfontsize: 18px;

//PROFILE

$imgWidth: 300px;



