{% extends 'base.html.twig' %}

{% block title %}Learning2Gether{% endblock %}

{% block body %}
    <h1>Welcome to the homepage</h1>

    <a href="{{ path('app_login') }}">&raquo; Login</a>
    <a href="{{ path('app_register') }}">&raquo; Register</a>
{% endblock %}
