@import "./../variables/variables";

*{
    padding: 0;
    margin: 0;
}

.chevron_front {
    color: $whitecolor;
    font-weight: bold; }

.button{
    padding: 5px 20px;
    font-family: "Chivo", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.2s;
}

.button:hover{
    cursor: pointer;
}

.buttonwidth{
    width: 270px;
}

.buttonshadow{
    -webkit-box-shadow: 12px 12px 19px -17px $black;
    -moz-box-shadow: 12px 12px 19px -17px $black;
    box-shadow: 12px 12px 19px -17px $black;
}

.buttonshadowhover:hover{
    -webkit-box-shadow: 12px 12px 19px -17px $black;
    -moz-box-shadow: 12px 12px 19px -17px $black;
    box-shadow: 12px 12px 19px -17px $black;
}

.button_1 {
    background-color: $whitecolor;
    color: $purplecolor;
    border: 3pt solid $purplecolor;
}

.button_1:hover {
    color: $whitecolor;
    background: $purplecolor;
    border: 3pt solid $purplecolor;
}

.button_2 {
    border: 3pt solid $darkpurplecolor;
    background: $darkpurplecolor;
    color: $whitecolor;
}

.button_2:hover {
    color: $darkpurplecolor!important;
    background: $whitecolor;
}

.button_3 {
    border: 3pt solid $purplecolor;
    background-color: $purplecolor;
    color: $whitecolor;
}

.button_3:hover {
    color: $purplecolor;
    background: $whitecolor;
    border: 3pt solid $whitecolor;
}

.button_4 {
    border: 1pt solid $offwhite;
    background-color: $whitecolor;
    color: $darkgreycolor;
}

.button_4:hover {
    color: #606060;
    background: $whitecolor; }

.button_5 {
    border: 3pt solid $darkestpurple;
    background-color: $darkestpurple;
    color: $whitecolor;
}

.button_5:hover {
    color: $darkestpurple;
    background: $whitecolor;
}

.button_6 {
    border: 3pt solid $purplecolor;
    background-color: $purplecolor;
    color: $whitecolor;
}

.button_6:hover {
    color: $purplecolor;
    background: $whitecolor;
    border: 3pt solid $whitecolor;
}

.button_7{
    background: $darkpurplecolor;
    border: none;
    color: $whitecolor;
}

.button_7:hover {
    color: $purplecolor;
    background: $whitecolor;
    text-decoration: none;
}

.round_button {
    width: 30px;
    height: 30px;
    border: 1pt solid $purplecolor;
    border-radius: 15px;
    background-color: $purplecolor; }

.round_button:hover {
    width: 30px;
    height: 30px;
    border: 1pt solid $purplecolor;
    border-radius: 15px;
    background-color: $purplecolor; }

.progress_1 {
    height: 28px;
    border: 1pt solid $darkpurplecolor;
    border-radius: 5px; }

.progress_1_bar {
    background-color: $purplecolor; }

.progress_2 {
    width: 200px;
    height: 12px;
    border: 1pt solid $darkpurplecolor;
    border-radius: 40px;
}

.progress_2_bar {
    background-color: $purplecolor;
}

.navwrap{
    background: $purplecolor;
}

.nav-bar-color {
    background-color: $purplecolor; }

.navbar, .example-wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.navbar{
    padding: 10px 0;
}

#language_switcher_language{
    background: $purplecolor;
    border: 1px solid $whitecolor;
    color: $whitecolor;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.wrapper-two {
    width: 1000px;
    margin: 0 auto;
}


.card {
    -webkit-box-shadow: 0 6px 12px 3px $cardshadow;
    box-shadow: 0 6px 12px 3px $cardshadow;
    border: none;
    border-radius: 20px; }


// BUTTON HARD/SOFT SKILLS filter

.btn-skills {
    background-color: $purplecolor;
    color: $whitecolor;
    font-family: $chivofamily;
    font-weight: 400;
}

.btn-skills:hover {
    background-color: $darkestpurple;
    color: $whitecolor;
}