{% extends 'base.html.twig' %}

{% block title %}Hello CreatePageController!{% endblock %}

{% block body %}

<div class="container">

</div>

    <!-- markdown editor -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <!-- /markdown editor -->

    <script src="{{ asset('assets/js/editPageApp.js') }}"></script>

{% endblock %}
