/*#330033d*/
body {
  color: #232323; }

/*#330033d*/
* {
  padding: 0;
  margin: 0; }

body {
  background-color: #fdfdfd;
  overflow-x: hidden; }

.spinnerstyle {
  margin-right: 120px; }

.chevron_front {
  color: #fdfdfd;
  font-weight: bold; }

.button {
  padding: 5px 20px;
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 40px;
  transition: 0.2s; }

.button:hover {
  cursor: pointer; }

.buttonwidth {
  width: 270px; }

.buttonshadow {
  -webkit-box-shadow: 12px 12px 19px -17px #232323;
  -moz-box-shadow: 12px 12px 19px -17px #232323;
  box-shadow: 12px 12px 19px -17px #232323; }

.buttonshadowhover:hover {
  -webkit-box-shadow: 12px 12px 19px -17px #232323;
  -moz-box-shadow: 12px 12px 19px -17px #232323;
  box-shadow: 12px 12px 19px -17px #232323; }

.button_1 {
  background-color: #fdfdfd;
  color: #8b54a0;
  border: 3pt solid #8b54a0; }

.button_1:hover {
  color: #fdfdfd;
  background: #8b54a0;
  border: 3pt solid #8b54a0; }

.button_2 {
  border: 3pt solid #460e56;
  background: #460e56;
  color: #fdfdfd; }

.button_2:hover {
  color: #460e56 !important;
  background: #fdfdfd; }

.button_3 {
  border: 3pt solid #8b54a0;
  background-color: #8b54a0;
  color: #fdfdfd; }

.button_3:hover {
  color: #8b54a0;
  background: #fdfdfd;
  border: 3pt solid #fdfdfd; }

.button_4 {
  border: 3pt solid #4b4b4b;
  background-color: #4b4b4b;
  color: #fdfdfd; }

.button_4:hover {
  color: #fdfdfd; }

.button_5 {
  border: 3pt solid #33003d;
  background-color: #33003d;
  color: #fdfdfd; }

.button_5:hover {
  color: #33003d;
  background: #fdfdfd; }

.button_6 {
  border: 3pt solid #8b54a0;
  background-color: #8b54a0;
  color: #fdfdfd; }

.button_6:hover {
  color: #8b54a0;
  background: #fdfdfd;
  border: 3pt solid #fdfdfd; }

.button_7 {
  background: #460e56;
  border: none;
  color: #fdfdfd; }

.button_7:hover {
  color: #8b54a0;
  background: #fdfdfd;
  text-decoration: none; }

.button_8 {
  background-color: #4b4b4b;
  color: #fdfdfd; }

.round_button {
  width: 30px;
  height: 30px;
  border: 1pt solid #8b54a0;
  border-radius: 15px;
  background-color: #8b54a0; }

.round_button:hover {
  width: 30px;
  height: 30px;
  border: 1pt solid #8b54a0;
  border-radius: 15px;
  background-color: #8b54a0; }

.progress_1 {
  border: 1pt solid #460e56;
  border-radius: 5px; }

.progress {
  display: block !important;
  height: 40px;
  width: 75%;
  float: left; }

.progress_1_bar {
  background-color: #8b54a0;
  height: 40px;
  line-height: 0 !important; }

.progress_2 {
  width: 200px;
  height: 12px;
  border: 1pt solid #460e56;
  border-radius: 40px; }

.progress_2_bar {
  background-color: #8b54a0; }

.navwrap {
  background: #8b54a0; }

.nav-bar-color {
  background-color: #8b54a0; }

.navbar, .example-wrapper {
  max-width: 1000px;
  margin: 0 auto; }

.navbar {
  padding: 10px 0; }

#language_switcher_language {
  background: #8b54a0;
  border: 1px solid #fdfdfd;
  color: #fdfdfd; }

.example-wrapper {
  max-width: 1000px;
  margin: 50px auto; }

.skills {
  float: right;
  margin-right: 10px; }

.card {
  -webkit-box-shadow: 0 6px 12px 3px 0 6px 12px 3px rgba(139, 84, 160, 0.37);
  box-shadow: 0 6px 12px 3px 0 6px 12px 3px rgba(139, 84, 160, 0.37);
  border: none;
  border-radius: 20px; }

.btn-skills {
  background-color: #8b54a0;
  color: #fdfdfd;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  width: 70px;
  padding: 0px; }

.btn-skills:hover {
  background-color: #33003d;
  color: #fdfdfd; }

#reveal {
  position: absolute;
  background: #fdfdfd;
  width: 100px;
  margin-top: 19px;
  z-index: 55;
  right: 15px;
  background: #8b54a0; }

#reveal a {
  color: #fdfdfd; }

#reveal a:hover {
  color: #33003d;
  background: #fdfdfd; }

#profiledrop:hover {
  cursor: pointer; }

#screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 50; }

.title-css {
  text-align: center;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  font-size: 2.5rem; }

.subtitle-css {
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  font-size: 2rem; }

.btn-forum {
  background-color: #8b54a0;
  color: #fdfdfd;
  font-family: "Chivo", sans-serif;
  padding: 5px 20px 5px 20px;
  letter-spacing: 1px;
  border-radius: 40px; }

.btn-forum:hover {
  background-color: #460e56;
  color: #fdfdfd;
  text-decoration: none; }

.cards-forum {
  border: 2px solid #8b54a0;
  margin-bottom: 20px;
  padding: 25px 0 10px 0;
  border-radius: 20px; }

.title-cards-forum {
  font-family: "Chivo", sans-serif;
  font-weight: 600; }

.questions-cards-forum {
  font-family: "Chivo", sans-serif;
  color: darkgrey; }

.margintop {
  margin-top: 50px; }

.navbar-toggler {
  border: none; }

@media only screen and (max-width: 1100px) {
  .navwrap nav {
    padding: 10px 20px; }

  .example-wrapper {
    margin-top: 20px;
    padding: 0 20px; } }
@media only screen and (max-width: 767px) {
  #reveal {
    left: 0;
    margin-top: 14px; }

  #reveal a {
    padding: 5px; }

  .spinnerstyle {
    margin-right: 0; }

  .formnav {
    position: absolute;
    top: 170px;
    left: 130px; }

  .hubnav {
    position: absolute;
    top: 170px;
    left: 70px; }

  .profilenav {
    margin-top: 10px; }

  .nav-bar-collapse {
    margin-bottom: 5px; }

  #searchbar_keywords {
    width: 100%;
    margin-right: 0 !important; } }
.gone {
  display: none !important; }

/*#330033d*/
.nav-bar-color {
  background-color: #8b54a0; }

.skillset {
  font-family: "Chivo", sans-serif;
  font-variant: small-caps;
  color: #7a7a7a; }

.finishedModules {
  margin: 20px 0; }

h1 {
  font-family: "Chivo", sans-serif;
  font-weight: 400; }

.intro-lh {
  font-family: "Chivo", sans-serif;
  font-weight: 400; }

.card {
  -webkit-box-shadow: 0 6px 12px 3px rgba(139, 84, 160, 0.37);
  box-shadow: 0 6px 12px 3px rgba(139, 84, 160, 0.37);
  border: none;
  border-radius: 20px; }

.button_3 {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 40px;
  border: 3pt solid #8b54a0;
  background-color: #8b54a0;
  color: #fdfdfd; }

.button_3:hover {
  color: #8b54a0;
  background: #fdfdfd;
  border: 3pt solid #fdfdfd; }

@media only screen and (max-width: 1090px) {
  body .wrapper-two {
    width: 800px; } }
@media only screen and (max-width: 920px) {
  body .wrapper-two {
    width: 600px; } }
/*#330033d*/
.cards-container {
  width: 100%;
  max-width: 1280px;
  background-color: pink;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  .cards-container .card-wrapper {
    max-width: 415px;
    height: 100px;
    border-radius: 50%;
    background-color: pink;
    -webkit-box-shadow: -1px -1px 22px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 22px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 22px -6px rgba(0, 0, 0, 0.75); }

/*#330033d*/
.chevron_front {
  color: #fdfdfd;
  font-weight: bold; }

.round_back {
  width: 30px;
  height: 30px;
  border: 1pt solid #8b54a0;
  border-radius: 15px;
  background-color: #8b54a0; }

.round_back:hover {
  width: 30px;
  height: 30px;
  border: 1pt solid #8b54a0;
  border-radius: 15px;
  background-color: #8b54a0; }

.progress_2 {
  width: 200px;
  height: 12px;
  border: 1pt solid #460e56;
  border-radius: 40px; }

.progress_2_bar {
  background-color: #8b54a0; }

/*#330033d*/
.next {
  right: 0; }

.prev {
  left: 0; }

.button_4chap {
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  border: 1pt solid #fdfdfd;
  border-radius: 40px;
  -webkit-box-shadow: 12px 12px 19px -17px;
  -moz-box-shadow: 12px 12px 19px -17px;
  box-shadow: 12px 12px 19px -17px;
  background-color: #fdfdfd;
  color: #7a7a7a;
  width: 270px; }

.button_4chap:hover {
  color: #606060;
  background: #fdfdfd; }

.btnchap {
  width: 200px;
  float: right;
  margin-right: -50px;
  margin-top: -50px; }

.center {
  text-align: center; }

.chapcard {
  padding: 20px 10px 20px 20px;
  border-radius: 20px;
  background-color: #8b54a0;
  color: #fdfdfd; }

.chapcard-locked {
  padding: 20px 10px 20px 20px;
  border-radius: 20px;
  background: #8c8c8c;
  color: #fdfdfd; }

.chapcontainer {
  margin-top: 50px; }

.chapbutton_2 {
  float: right;
  margin-right: -50px;
  margin-top: -30px; }

#chapter-overview {
  position: relative; }
  #chapter-overview .vertical-line {
    position: absolute;
    left: 50%;
    width: 4px;
    height: -webkit-calc(100% - 80px);
    height: -moz-calc(100% - 80px);
    height: calc(100% - 80px);
    background-color: #8b54a0;
    top: 80px;
    z-index: -10; }

@media only screen and (max-width: 770px) {
  .example-wrapper {
    width: 100%; }

  .btnchap {
    float: none;
    margin: 0 auto;
    display: block; }

  .chapcard {
    padding: 20px 20px 50px 20px; }

  .chapimg {
    text-align: center;
    margin-bottom: 15px; }

  .chapinfo {
    text-align: center; }

  h5 {
    margin: 0 auto; }

  .chapbutton_2 {
    float: none;
    justify-content: center; } }
/*#330033d*/
.loginbody {
  background: #8b54a0;
  color: #fdfdfd; }

.sidebar {
  color: #232323;
  height: 100vh;
  top: 0;
  width: 300px;
  position: absolute;
  right: 0;
  background: #fdfdfd; }

.form-group {
  text-align: center; }

.logo {
  width: 100%; }

.titlewrap {
  padding-left: 100px;
  margin-top: 50px; }

.loginwrap {
  text-align: center;
  position: absolute;
  bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%; }

.loginwrap button {
  width: 200px; }

footer {
  position: absolute;
  bottom: 0;
  background: #460e56;
  width: 100%;
  z-index: -5;
  padding-left: 100px;
  padding-top: 5px;
  padding-bottom: 5px; }

.learnmore {
  position: absolute;
  right: 350px;
  bottom: 100px; }

.forgot, .accountgot {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: #232323;
  text-align: right; }

.form-group:first-child .custom-file {
  height: 100px;
  width: 100px;
  margin-top: 50px; }

.profilePic {
  height: 100px;
  width: 100px;
  top: 50px;
  position: absolute;
  right: 100px;
  border: 5px solid #8b54a0; }

.custom-file label {
  opacity: 0; }

.uploader {
  height: 100%; }

.checkbox {
  color: black;
  text-align: left; }

.checkbox label:hover {
  cursor: pointer; }

.checkbox label input:hover {
  cursor: pointer; }

.uploader:hover {
  cursor: pointer; }

footer a {
  color: #8b54a0; }

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    padding: 20px;
    height: auto;
    min-height: 100vh; }

  .logo {
    width: 70%;
    margin-left: 15%; }

  .form-group:first-child .custom-file {
    height: 100px;
    width: 100px;
    margin: 50px 0 20px; }

  .profilePic {
    left: calc(50% - 50px);
    top: 70px; }

  .loginwrap {
    position: relative;
    margin-top: 100px; } }
@media only screen and (max-width: 810px) {
  .titlewrap {
    padding-left: 50px; }

  .titlewrap h1 {
    font-size: 24px; }

  .titlewrap h2 {
    font-size: 18px; }

  .titlewrap p {
    font-size: 14px; }

  footer a {
    margin-left: -50px; } }
/*#330033d*/
/*#330033d*/
.modalbutton {
  background-color: #8b54a0;
  border-color: #8b54a0;
  margin-bottom: 20px; }

.modalbutton:hover {
  background-color: #460e56;
  border-color: #460e56; }

.modal-message p {
  font-family: "Chivo", sans-serif;
  font-weight: 500;
  font-size: 18px; }

.message-one {
  margin-top: 10px;
  margin-bottom: 5px; }

.imgmodal {
  margin-top: 20px; }

/*#330033d*/
.profileimgwrap {
  width: 300px;
  height: 300px;
  display: inline-block; }

.profileimgwrap img {
  width: 100%; }

.profileimgwrap form {
  height: 300px; }

.profileimgwrap form .form-group label {
  color: #fdfdfd; }

.profileimg {
  height: 300px;
  overflow: hidden;
  padding: 20px; }

.bottom {
  margin-bottom: 20px; }

#imagebutton {
  font-size: 12px;
  text-align: center;
  float: left; }

#imagebutton:hover {
  cursor: pointer; }

.gone {
  display: none; }

#show {
  background: #fdfdfd;
  position: absolute;
  padding: 20px;
  top: 0px;
  margin: 0 auto;
  width: 300px; }

#moduleprogress {
  width: 25%; }

.completebutton {
  width: 20%;
  float: right;
  height: 40px;
  line-height: 20px; }

.progresstitle {
  font-size: 1.5em;
  text-align: left;
  margin-top: 50px; }

.coursetitle {
  font-size: 1.2em;
  margin-top: 20px; }

.badges {
  padding: 0;
  padding-left: 20px; }

.profilechange form .form-group .custom-file .custom-file-input {
  opacity: 1;
  width: auto; }

.profilechange form .form-group .custom-file {
  width: auto; }

.badgeimage {
  width: 70%;
  height: auto; }

.profiletext {
  display: inline-block;
  position: absolute; }

.profiletext p {
  height: 20px; }

#show .form-group input {
  line-height: 15px; }

.testborder {
  border: 1px solid black; }

.badges h5 {
  width: 100%;
  font-size: 1.5em; }

.profiletext p:first-child {
  font-size: 1.5em;
  margin-bottom: 40px;
  font-family: "Chivo", sans-serif; }

.profiletext {
  padding-left: 50px;
  width: 300px; }

.badge {
  font-weight: normal;
  line-height: normal; }

.badgename {
  font-family: "Chivo", sans-serif;
  font-size: 1.2em; }

.badgedescription {
  text-align: left;
  font-style: italic; }

.badgecriteria {
  font-weight: bold;
  text-align: left; }

.badges {
  font-size: 1.2em; }

@media only screen and (max-width: 767px) {
  .badges {
    margin-top: 80px; } }
@media only screen and (max-width: 567px) {
  .badge p {
    text-align: center; } }
@media only screen and (max-width: 600px) {
  .profiletext {
    position: relative;
    padding-left: 0; }

  .progression {
    margin-top: 80px; }

  .auto {
    margin-left: calc(50% - 150px); }

  .absCenter {
    left: calc(50% - 150px); } }
/*#330033d*/
.forum-cat-title {
  font-size: 23px;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  color: black;
  letter-spacing: 1px; }

.forum-cat-row {
  margin-bottom: 35px; }

.forum-upvote-count {
  margin-top: 9px !important; }

a {
  color: #8b54a0; }

a:hover {
  color: #460e56; }

/*#330033d*/
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  font-size: 24px;
  line-height: 1.33; }

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 0 0;
  border-radius: 15px;
  border-color: #8b54a0;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857; }

.addicon {
  width: 70px;
  fill: white; }

.addiconflag {
  width: 50px;
  fill: white; }

.main-page-button {
  margin: 0 auto 30px;
  width: 320px;
  display: flex;
  justify-content: center;
  text-align: center; }

#overlay {
  width: 100%;
  height: 100vh;
  background-color: grey;
  opacity: 50%;
  position: absolute;
  display: none; }

.module-row {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7a7a7a; }
  .module-row .module-alert {
    position: absolute;
    left: 50px;
    border-radius: 20px;
    box-shadow: 0 6px 12px 3px rgba(139, 84, 160, 0.37);
    background-color: #fff;
    z-index: 10;
    background: #8b54a0;
    color: #fdfdfd;
    margin-top: -30px; }
    .module-row .module-alert ul {
      display: flex;
      text-align: center;
      align-items: center;
      list-style: none; }

.active-mode {
  background-color: #ffffff;
  border: 1px solid #8b54a0;
  color: #7a7a7a; }

/*#330033d*/
.module-cube {
  border: 8px lightgrey solid;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-bottom: 20px; }

.mod-title {
  margin: auto;
  margin-bottom: 30px; }

.mod-step {
  color: lightgrey;
  font-family: "Chivo", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0; }

.mod-step-partial {
  color: black;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px; }

.buttonNavBox {
  width: 150px; }

/*#330033d*/
.example-wrapper {
  max-width: 1000px; }

#black {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
  background: black;
  opacity: 0.5; }

.shown {
  display: block !important;
  opacity: 1 !important;
  margin-top: 50px !important; }

.noClick {
  opacity: 0.4;
  pointer-events: none;
  border-color: #7a7a7a !important;
  background: #fdfdfd !important;
  color: #7a7a7a !important; }

#completeText {
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  margin-top: -30px;
  color: #7a7a7a !important; }

.modal-dialog {
  padding: 20px; }

.btnchapquiz {
  width: 200px;
  float: right;
  margin-right: -50px;
  margin-top: -50px; }

.chapcardquiz {
  padding: 50px 20px 50px 20px;
  border-radius: 20px;
  border: 4px solid #8b54a0;
  color: black;
  background-color: white; }

.chapcontainerquiz {
  margin-top: 50px; }

.button_5quiz {
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 40px;
  border: 3pt solid #33003d;
  -webkit-box-shadow: 12px 12px 19px -17px black;
  -moz-box-shadow: 12px 12px 19px -17px black;
  box-shadow: 12px 12px 19px -17px black;
  background-color: #33003d;
  color: #f7f6f6;
  width: 270px; }

.button_5quiz:hover {
  color: #33003d;
  background: #f7f6f6;
  box-shadow: 12px 12px 19px -17px black; }

.chapbutton_2quiz {
  float: right;
  margin-top: 50px; }

@media only screen and (max-width: 770px) {
  .example-wrapper {
    width: 100%; }

  .btnchapquiz {
    float: none;
    margin: 0 auto;
    display: block; }

  .chapcardquiz {
    padding: 20px 20px 50px 20px; }

  .chapimgquiz {
    text-align: center;
    margin-bottom: 15px; }

  .chapinfoquiz {
    text-align: center; }

  h5 {
    margin: 0 auto; }

  .chapbutton_2quiz {
    float: none;
    justify-content: center; } }
table {
  margin-top: 2em;
  width: 100%; }

th {
  background-color: #faefff; }

.table-main-header {
  background-color: #8b54a0;
  color: #fdfdfd; }

.badge-dark {
  background-color: #460e56; }

.btn-secondary {
  background-color: #8b54a0; }

.btn-secondary:hover {
  background-color: #460e56; }

.btn-margin {
  margin: 1em 0 1em 0; }

.form-group {
  text-align: left; }

.deletebtn-table {
  float: right; }

/*#330033d*/
/*#330033d*/
.topic-questions {
  background-color: #8b54a0;
  font-family: "Chivo", sans-serif;
  padding: 20px 20px 20px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

.question-row {
  padding-bottom: 10px; }

.postbutton form .form-group button {
  background: red; }

#question_questionDescription {
  height: 120px; }

/*#330033d*/
body {
  background-color: #fdfdfd; }

.title-question-row {
  padding-top: 5px; }

.title-question-row {
  font-weight: 700; }

.date-created-question {
  color: grey;
  font-family: "Chivo", sans-serif;
  font-size: 12px; }

.question-asked {
  font-family: "Chivo", sans-serif;
  font-size: 15px;
  background-color: #f7f6f6;
  padding: 10px 17px 10px 17px;
  margin-bottom: 10px;
  border-radius: 20px; }

.question-asked-info {
  font-family: "Chivo", sans-serif;
  font-size: 12px;
  color: grey; }

.btn-deletequestion {
  border: 3px solid lightcoral;
  background-color: lightcoral;
  color: #fdfdfd;
  font-family: "Chivo", sans-serif;
  padding: 5px 20px 5px 20px;
  letter-spacing: 1px;
  border-radius: 40px; }

.question-answer-row {
  margin-top: 20px;
  padding: 10px 5px 10px 5px;
  border-radius: 20px;
  background-color: #b369b5;
  position: relative; }

.question-answer-row.odd {
  background-color: #faefff; }

.upvote-img {
  background-image: url("../../public/assets/img/thumbsup.png"); }

button.btn-no-bg {
  background: no-repeat;
  border: none; }

.imageWrapperPost {
  top: 22px; }

.btn-forum {
  border: 0px solid white;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75); }

.postform {
  background-color: #8b54a0;
  font-family: "Chivo", sans-serif;
  padding: 20px 20px 20px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 20px; }

.delete-post-form {
  position: absolute;
  top: -20px;
  right: 6px; }

.submitPost {
  margin-top: 20px; }

.submitPost:hover {
  color: white; }

.picturePost {
  display: flex;
  justify-content: center; }

.deleteHover:hover {
  border: 3pt solid lightcoral;
  color: red; }

.custom-file-input {
  opacity: 1; }

/*

To sass watch ->  sass --watch sass/app.scss:public/assets/css/app.css
 */
/* Draggable interface */
.sortable li {
  transition: all 0.5s;
  cursor: move; }
.sortable .ghost {
  opacity: 0.5;
  background: #c8ebfb;
  border-color: #c8ebfb; }
.sortable .chosen {
  background-color: #ffff99; }

.ui-meta-label {
  text-transform: uppercase;
  font-size: 12px;
  color: #444;
  font-weight: 300; }

.card-body {
  padding: 2rem; }
  .card-body li {
    margin-bottom: 10px; }

.card-text {
  text-align: left; }

/*
 * CKEditor 5 (v17.0.0) content styles.
 * Generated on Fri, 13 Mar 2020 13:27:10 GMT.
 * For more information, check out https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/content-styles.html
 */
:root {
  --ck-highlight-marker-blue: #72cdfd;
  --ck-highlight-marker-green: #63f963;
  --ck-highlight-marker-pink: #fc7999;
  --ck-highlight-marker-yellow: #fdfd77;
  --ck-highlight-pen-green: #118800;
  --ck-highlight-pen-red: #e91313;
  --ck-image-style-spacing: 1.5em;
  --ck-todo-list-checkmark-size: 16px; }

/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized {
  max-width: 100%;
  display: block;
  box-sizing: border-box; }

/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized img {
  width: 100%; }

/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized > figcaption {
  display: block; }

/* ckeditor5-basic-styles/theme/code.css */
.ck-content code {
  background-color: rgba(199, 199, 199, 0.3);
  padding: .15em;
  border-radius: 2px; }

/* ckeditor5-image/theme/image.css */
.ck-content .image {
  display: table;
  clear: both;
  text-align: center;
  margin: 1em auto; }

/* ckeditor5-image/theme/image.css */
.ck-content .image > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 50px; }

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-side,
.ck-content .image-style-align-left,
.ck-content .image-style-align-center,
.ck-content .image-style-align-right {
  max-width: 50%; }

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-side {
  float: right;
  margin-left: var(--ck-image-style-spacing); }

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-left {
  float: left;
  margin-right: var(--ck-image-style-spacing); }

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-center {
  margin-left: auto;
  margin-right: auto; }

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-right {
  float: right;
  margin-left: var(--ck-image-style-spacing); }

/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break {
  position: relative;
  clear: both;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center; }

/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break::after {
  content: '';
  position: absolute;
  border-bottom: 2px dashed #c4c4c4;
  width: 100%; }

/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break__label {
  position: relative;
  z-index: 1;
  padding: .3em .6em;
  display: block;
  text-transform: uppercase;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  font-family: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
  font-size: 0.75em;
  font-weight: bold;
  color: #333333;
  background: #fff;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* ckeditor5-block-quote/theme/blockquote.css */
.ck-content blockquote {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: solid 5px #cccccc; }

/* ckeditor5-block-quote/theme/blockquote.css */
.ck-content[dir="rtl"] blockquote {
  border-left: 0;
  border-right: solid 5px #cccccc; }

/* ckeditor5-media-embed/theme/mediaembed.css */
.ck-content .media {
  clear: both;
  margin: 1em 0;
  display: block;
  min-width: 15em; }

/* ckeditor5-table/theme/table.css */
.ck-content .table {
  margin: 1em auto;
  display: table; }

/* ckeditor5-table/theme/table.css */
.ck-content .table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  border: 1px double #b3b3b3; }

/* ckeditor5-table/theme/table.css */
.ck-content .table table td,
.ck-content .table table th {
  min-width: 2em;
  padding: .4em;
  border-color: #bfbfbf; }

/* ckeditor5-table/theme/table.css */
.ck-content .table table th {
  font-weight: bold;
  background: black; }

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list {
  list-style: none; }

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list li {
  margin-bottom: 5px; }

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list li .todo-list {
  margin-top: 5px; }

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input {
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  width: var(--ck-todo-list-checkmark-size);
  height: var(--ck-todo-list-checkmark-size);
  vertical-align: middle;
  border: 0;
  left: -25px;
  margin-right: -15px;
  right: 0;
  margin-left: 0; }

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input::before {
  display: block;
  position: absolute;
  box-sizing: border-box;
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid #333333;
  border-radius: 2px;
  transition: 250ms ease-in-out box-shadow, 250ms ease-in-out background, 250ms ease-in-out border; }

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input::after {
  display: block;
  position: absolute;
  box-sizing: content-box;
  pointer-events: none;
  content: '';
  left: calc(var(--ck-todo-list-checkmark-size) / 3);
  top: calc(var(--ck-todo-list-checkmark-size) / 5.3);
  width: calc(var(--ck-todo-list-checkmark-size) / 5.3);
  height: calc(var(--ck-todo-list-checkmark-size) / 2.6);
  border-style: solid;
  border-color: transparent;
  border-width: 0 calc(var(--ck-todo-list-checkmark-size) / 8) calc(var(--ck-todo-list-checkmark-size) / 8) 0;
  transform: rotate(45deg); }

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input[checked]::before {
  background: #26ab33;
  border-color: #26ab33; }

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input[checked]::after {
  border-color: white; }

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label .todo-list__label__description {
  vertical-align: middle; }

/* ckeditor5-image/theme/imagecaption.css */
.ck-content .image > figcaption {
  display: table-caption;
  caption-side: bottom;
  word-break: break-word;
  color: #333333;
  background-color: #f7f7f7;
  padding: .6em;
  font-size: .75em;
  outline-offset: -1px; }

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-yellow {
  background-color: var(--ck-highlight-marker-yellow); }

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-green {
  background-color: var(--ck-highlight-marker-green); }

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-pink {
  background-color: var(--ck-highlight-marker-pink); }

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-blue {
  background-color: var(--ck-highlight-marker-blue); }

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .pen-red {
  color: var(--ck-highlight-pen-red);
  background-color: transparent; }

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .pen-green {
  color: var(--ck-highlight-pen-green);
  background-color: transparent; }

/* ckeditor5-horizontal-line/theme/horizontalline.css */
.ck-content hr {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #5e5e5e;
  margin: 0; }

/* ckeditor5-code-block/theme/codeblock.css */
.ck-content pre {
  padding: 1em;
  color: #353535;
  background: rgba(199, 199, 199, 0.3);
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  text-align: left;
  direction: ltr;
  tab-size: 4;
  white-space: pre-wrap;
  font-style: normal;
  min-width: 200px; }

/* ckeditor5-code-block/theme/codeblock.css */
.ck-content pre code {
  background: unset;
  padding: 0;
  border-radius: 0; }

@media print {
  /* ckeditor5-page-break/theme/pagebreak.css */
  .ck-content .page-break {
    padding: 0; }

  /* ckeditor5-page-break/theme/pagebreak.css */
  .ck-content .page-break::after {
    display: none; } }
.ck-content {
  padding: 50px;
  margin: 50px;
  font-family: 'Noto Serif', serif; }
  .ck-content figure {
    border: 1px solid #DDD;
    padding: 10px;
    font-size: 80%; }
  .ck-content img {
    max-width: 100%; }
  .ck-content .media {
    /* Don't allow floated content overlap the media.
    https://github.com/ckeditor/ckeditor5-media-embed/issues/53 */
    clear: both;
    /* Make sure there is some space between the content and the media. */
    margin: 1em 0;
    /* Make sure media is not overriden with Bootstrap default `flex` value.
    See: https://github.com/ckeditor/ckeditor5/issues/1373. */
    display: block;
    /* Give the media some minimal width in the content to prevent them
    from being "squashed" in tight spaces, e.g. in table cells (#44) */
    min-width: 15em; }

.breadcrumb {
  font-size: 88%;
  background: white;
  border-bottom: 1px solid #EEE; }

.pagination {
  display: block; }
  .pagination a.prev,
  .pagination a.next {
    position: relative;
    display: inline; }
  .pagination a.prev {
    float: left; }
  .pagination a.next {
    float: right; }

/* block ui */
#js-block-ui {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  #js-block-ui.hidden {
    display: none; }
  #js-block-ui .overlay {
    width: 100%;
    height: 100%;
    background: white;
    opacity: .5; }
  #js-block-ui p {
    position: absolute;
    top: 45%;
    left: 33%;
    background: white;
    padding: 5px 20px;
    color: black;
    font-size: 30px;
    margin: 0 auto;
    display: block;
    max-width: 66%;
    text-align: center; }

#chapter-overview h3 {
  background-color: #FDFDFD; }

/*# sourceMappingURL=app.css.map */
