{% extends 'base.html.twig' %}

{% block title %}Edit Quiz{% endblock %}

{% block body %}
    <h1>Edit Quiz {{ quiz.id }}</h1>

    <h2>Chapter title</h2>
    <h4>{{ chapter.title(user.language) }}</h4>

    {{ include('quiz/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quiz_index') }}">back to list</a>

{% endblock %}
