{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}


    <div class="wrapper">
        <p class="center">JAVASCRIPT COURSE</p>
        <h1>Quiz</h1>
        <button class="btn btn-default button button_4chap btnchapquiz">Chapter info</button>

        <!--  question1   -->
        <section id="chapter-overview">

            <div class="container chapcontainerquiz">
                <div class="row"><h3>question 1</h3></div>
                <div class="row chapcardquiz">
                    <div class="col-md-6 chapimgquiz">
                        <p class="question"> Why so JavaScript and Java have similar name?</p>
                    </div>
                    <div class="col-md-6 chapinfoquiz">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question1" id="exampleRadios1"
                                   value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                JavaScript is a stripped-down version of Java
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question1" id="exampleRadios2"
                                   value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                JavaScript's syntax is loosely based on Java's
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question1" id="exampleRadios3"
                                   value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                JavaScript's syntax is loosely based on Java's
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <!--  question2  -->

            <div class="container chapcontainerquiz">
                <div class="row"><h3>question 1</h3></div>
                <div class="row chapcardquiz">
                    <div class="col-md-6 chapimgquiz">
                        <p class="question"> Why so JavaScript and Java have similar name?</p>
                    </div>
                    <div class="col-md-6 chapinfoquiz">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question2" id="exampleRadios4"
                                   value="option1" checked>
                            <label class="form-check-label" for="exampleRadios4">
                                JavaScript is a stripped-down version of Java
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question2" id="exampleRadios5"
                                   value="option2">
                            <label class="form-check-label" for="exampleRadios5">
                                JavaScript's syntax is loosely based on Java's
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question2" id="exampleRadios6"
                                   value="option2">
                            <label class="form-check-label" for="exampleRadios6">
                                JavaScript's syntax is loosely based on Java's
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <!--  question3   -->

            <div class="container chapcontainerquiz">
                <div class="row"><h3>question 1</h3></div>
                <div class="row chapcardquiz">
                    <div class="col-md-6 chapimgquiz">
                        <p class="question"> Why so JavaScript and Java have similar name?</p>
                    </div>
                    <div class="col-md-6 chapinfoquiz">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question3" id="exampleRadios7"
                                   value="option1" checked>
                            <label class="form-check-label" for="exampleRadios7">
                                JavaScript is a stripped-down version of Java
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question3" id="exampleRadios8"
                                   value="option2">
                            <label class="form-check-label" for="exampleRadios8">
                                JavaScript's syntax is loosely based on Java's
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question3" id="exampleRadios9"
                                   value="option2">
                            <label class="form-check-label" for="exampleRadios9">
                                JavaScript's syntax is loosely based on Java's
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vertical-line"></div>
        </section>

        <div class="row chapbutton_2quiz">
            <button class="btn btn-default button_5quiz">Submit test</button>
        </div>

    </div>



{% endblock %}
