{% extends 'base.html.twig' %}

{% block title %}Edit QuizQuestion{% endblock %}

{% block body %}
    <h1>Edit QuizQuestion {{ quiz_question.questionNumber }}</h1>

    {{ include('quiz_question/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quiz_show', {'id': quiz_question.quiz.id}) }}">back to list</a>

    {{ include('quiz_question/_delete_form.html.twig') }}
{% endblock %}
