{% extends 'base.html.twig' %}

{% block title %}Edit QuizQuestion{% endblock %}

{% block body %}
    <h1>Edit QuizQuestion</h1>

    {{ include('quiz_question/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quiz_question_index') }}">back to list</a>

    {{ include('quiz_question/_delete_form.html.twig') }}
{% endblock %}
