{% extends 'base.html.twig' %}

{% block title %}New QuizQuestion{% endblock %}

{% block body %}
    <h1>Create new QuizQuestion</h1>

    {{ include('quiz_question/_form.html.twig') }}

    <a href="{{ path('quiz_question_index') }}">back to list</a>
{% endblock %}
