{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a
                            href="{{ '/var/www/l2g-platform/src/Controller/TestController.php'|file_link(0) }}">src/Controller/TestController.php</a></code>
            </li>
            <li>Your template at <code><a
                            href="{{ '/var/www/l2g-platform/templates/test/index.html.twig'|file_link(0) }}">templates/test/index.html.twig</a></code>
            </li>
        </ul>
    </div>
{% endblock %}
