{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to the view</h1>
    <p>my email is {{ email }}</p>
    <p>product is {{ product.name }}</p>

{% endblock %}

{% block title %}

{% endblock %}

