{% extends 'base.html.twig' %}

{% block body %}
    <h1> I'm in the view! </h1>
    <p>My email is {{ email }}</p>
    Product = {{ product.name }}

{% endblock %}

{% block title %}

{% endblock %}

