{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        table td, th {
            width: 100px;
            height: 50px;
            border: 1px solid black;
            text-align: center;
        }

        table {
            width: 100%;
        }
    </style>

    <div class="example-wrapper">
        {% for module in allModules %}
            {{ dump(module.flagPage) }}
        {% endfor %}
    </div>
{% endblock %}
