{% extends 'base.html.twig' %}

{% block title %}Hello EditPageController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Howdy Partner!</h1>
        <p>Here we want to edit a page's content using markdown. How do we let the user select/decide which language to
            edit?</p>
        <hr>
        {{ form(form) }}
        <hr>
        <a href="{{ path('edit_chapter', {module : module.id , chapter : chapter.id}) }}">Back to chapter</a>
    </div>

    <!-- cdn for the beautiful markdown editor -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <!-- js to create the editor -->
    <script>

        // create new editor, on default it binds itself to the first textarea on the page
        let editor = new SimpleMDE();

        // the next few lines remove their guide manual from the toolbar so we can add our own personal one.
        editor.gui.toolbar.remove();
        editor.toolbar.splice(editor.toolbar.length - 2 , 2);
        editor.toolbar.push({
            name : "Link",
            action: "http://google.com",
            className : "fa fa-question-circle",
            title : "Our Markdown Guide",
        });
        editor.createToolbar();

        // onchange function for the editor, for testing purposes
        editor.codemirror.on("change", function(){
            console.log(editor.value());
        });

    </script>

{% endblock %}
