{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}

    <h1>Forum</h1>
    <br>
    {{ form_start(searchbar) }}
    {{ form_end(searchbar) }} <br>


    <h2>Categories</h2>
    {% for category in allCategories %}
        <a href="{{ path('category', {'category': category.id}) }}">
            {{ category.title(language) }}<br>
        </a>
        <br>
    {% endfor %}

{% endblock %}
